@model IEnumerable<Lab6.Models.Address>

<h1>Addresses List</h1>

<table class="table">
    <thead>
    <tr>
        <th>Line 1</th>
        <th>Line 2</th>
        <th>Town/City</th>
        <th>State/Province/County</th>
        <th>Zip/Postcode</th>
        <th>Country</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Line1</td>
            <td>@address.Line2</td>
            <td>@address.TownCity</td>
            <td>@address.StateProvinceCounty</td>
            <td>@address.ZipPostcode</td>
            <td>@address.Country</td>
            <td><a asp-action="Details" asp-route-id="@address.AddressId">View Details</a></td>
        </tr>
    }
    </tbody>
</table>